<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321646647310-dptvbcbb0i62jpeakq163rv0ekktk7av.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321646647310-dptvbcbb0i62jpeakq163rv0ekktk7av</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>321646647310-sfj9in3mnps8bbkaa899he39tveuu0oc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6wFS-fug9BSUoNhF0oHc44JLljdSxWt4</string>
	<key>GCM_SENDER_ID</key>
	<string>321646647310</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FellowshipoftheGame.TiraaTampa</string>
	<key>PROJECT_ID</key>
	<string>sonseng2020-1586957105557</string>
	<key>STORAGE_BUCKET</key>
	<string>sonseng2020-1586957105557.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321646647310:ios:b4cd285bd79e4880bbc45f</string>
	<key>DATABASE_URL</key>
	<string>https://sonseng2020-1586957105557.firebaseio.com</string>
</dict>
</plist>